body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Fonts*/
.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Banner/Header Styling */
header {
    text-align: center;
    background-color: #ffffff; /* White background color */
}

#banner {
    max-width: 100%;
    height: auto;
}

body {
    background-color: lightblue;
    font-family: "Just Another Hand", cursive; /* Apply the font to the entire document */
}

nav {
    background-color: #333; /* Dark background color */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 2vw; /* Add margin between tabs (2% of viewport width) */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from last menu item */
}

nav ul li a {
    display: inline-block;
    color: white; /* Text color */
    text-align: center;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    font-size: 2vw; /* Responsive font size (2% of viewport width) */
}

nav ul li a:hover {
    background-color: #111; /* Darker background color on hover */
}
