body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Fonts*/
.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Banner/Header Styling */
header {
    text-align: center;
    background-color: #ffffff; /* White background color */
}

#banner {
    max-width: 100%;
    height: auto;
}

body {
    background-color: lightblue;
    font-family: "Just Another Hand", cursive; /* Apply the font to the entire document */
}

nav {
    background-color: #333; /* Dark background color */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10vw; /* Add margin between tabs (2% of viewport width) */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from last menu item */
}

nav ul li a {
    display: inline-block;
    color: white; /* Text color */
    text-align: center;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    font-size: 2vw; /* Responsive font size (2% of viewport width) */
}

nav ul li a:hover {
    background-color: #111; /* Darker background color on hover */
}

/* Main Content Area Styling */
.main-content {
    background-color: white; /* Set background color */
    padding: 20px; /* Add padding for spacing */
}

.main-content h2 {
    color: #333; /* Header text color */
    font-size: 24px; /* Header font size */
    margin-bottom: 10px; /* Add margin at the bottom */
}

.main-content p {
    color: #666; /* Paragraph text color */
    font-size: 16px; /* Paragraph font size */
    line-height: 1.5; /* Adjust line height for better readability */
    margin-bottom: 20px; /* Add margin at the bottom */
}
